<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/65dcdc44-7d10-4499-a2bb-882b83075b41/resourcegroups/eCommercial-15dh110176ResourceGroup/providers/Microsoft.Web/sites/eCommercial-15dh110176</ResourceId>
    <ResourceGroup>eCommercial-15dh110176ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ecommercial-15dh110176.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ecommercial-15dh110176.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eCommercial-15dh110176</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eCommercial-15dh110176</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ecommercial-15dh110176dbserver.database.windows.net,1433;Initial Catalog=eCommercial-15dh110176_db;User ID=daominhquan176@ecommercial-15dh110176dbserver;Password=Quan0971103092" Name="Data Source=tcp:ecommercial-15dh110176dbserver.database.windows.net,1433;Initial Catalog=eCommercial-15dh110176_db;User Id=daominhquan176@ecommercial-15dh110176dbserver;Password=Quan0971103092" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="eCommercial.Models.ApplicationDbContext, eCommercial" MigrationConfiguration="eCommercial.Migrations.Configuration, eCommercial" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ecommercial-15dh110176dbserver.database.windows.net,1433;Initial Catalog=eCommercial-15dh110176_db;User Id=daominhquan176@ecommercial-15dh110176dbserver;Password=Quan0971103092</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>